.slogan {
  font-size: 120px;
  @include mobile {
    font-size: 48px;
  }
}
.serve-title {
  font-size: 32px;
  @include mobile {
    font-size: 20px;
  }
}
.serve-content {
  font-size: 48px;
  @include mobile {
    font-size: 32px;
  }
}
.swiper {
  padding-bottom: 36px;
}
.swiper-slide {
  height: auto;
}
.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.swiper-pagination-bullet {
  opacity: 1;
  background: #525252;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
}
.comment-img {
  height: 48px;
  width: 48px;
}
.btn-start:hover {
  background-color: #FFFFFF;
  color: #1E1E1E;
}
.partner-title {
  font-size: 32px;
    @include mobile {
      font-size: 20px;
    }
}
.partner-img {
  width: 160px;
  height: 40px;
  max-width: initial;
}
.partner::before {
  content: "";
  width: 196px;
  height: 40px;
  padding-right: 196px;
  position: sticky;
  left: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.991615) 11.79%,
    rgba(0, 0, 0, 0.967585) 21.38%,
    rgba(0, 0, 0, 0.9296) 29.12%,
    rgba(0, 0, 0, 0.879348) 35.34%,
    rgba(0, 0, 0, 0.818519) 40.37%,
    rgba(0, 0, 0, 0.7488) 44.56%,
    rgba(0, 0, 0, 0.671881) 48.24%,
    rgba(0, 0, 0, 0.589452) 51.76%,
    rgba(0, 0, 0, 0.5032) 55.44%,
    rgba(0, 0, 0, 0.414815) 59.63%,
    rgba(0, 0, 0, 0.325985) 64.66%,
    rgba(0, 0, 0, 0.2384) 70.88%,
    rgba(0, 0, 0, 0.153748) 78.62%,
    rgba(0, 0, 0, 0.0737185) 88.21%,
    rgba(0, 0, 0, 0) 100%
    );
}
.partner::after {
  content: "";
  width: 196px;
  height: 40px;
  padding-left: 196px;
  position: sticky;
  right: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.991615) 11.79%,
    rgba(0, 0, 0, 0.967585) 21.38%,
    rgba(0, 0, 0, 0.9296) 29.12%,
    rgba(0, 0, 0, 0.879348) 35.34%,
    rgba(0, 0, 0, 0.818519) 40.37%,
    rgba(0, 0, 0, 0.7488) 44.56%,
    rgba(0, 0, 0, 0.671881) 48.24%,
    rgba(0, 0, 0, 0.589452) 51.76%,
    rgba(0, 0, 0, 0.5032) 55.44%,
    rgba(0, 0, 0, 0.414815) 59.63%,
    rgba(0, 0, 0, 0.325985) 64.66%,
    rgba(0, 0, 0, 0.2384) 70.88%,
    rgba(0, 0, 0, 0.153748) 78.62%,
    rgba(0, 0, 0, 0.0737185) 88.21%,
    rgba(0, 0, 0, 0) 100%
    );
  transform: rotate(-180deg);
}
.btn-outline-bk-60.active {
  font-weight: 700;
  background: #f2f2f2;
}
.custom-pagination {
  color: #020202;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  border: 0;

  &:hover {
    color: #FFFFFF;
    background: #020202;
  }
}
.dropdown-item.active {
  background-color: #e9ecef;
}
.dropdown-toggle-btn-shadow {
  box-shadow: 0px 4px 20px 0px #00000026;
}
.dropdown-toggle::after {
  font-family: "Material Icons";
  content: "filter_alt";
  border: 0;
  vertical-align: 0;
  margin-left: 12px;
}
.time-sort-dropdown-toggle::after {
  content: "keyboard_arrow_down";
}
.btn-model-type {
  &:hover {
    font-weight: 700;
    background: #f2f2f2;
  }
}
.custom-dropdown-btn:focus {
  border: 1px solid #020202 !important;
}
.ai-tool-title {
  font-size: 80px;
  @include mobile {
    font-size: 32px;
  }
}
.ai-tool-img {
  img {
    transition: all 0.5s ease-out;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
.ai-tool-radius {
  border-radius: 160px;

  @include mobile {
    border-radius: 20px;
  }
}
.build-title {
  font-size: 48px;
  @include mobile {
    font-size: 32px;
  }
}